<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title>1</title>
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/input.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
   <!-- /*//////////////////////////////////////////////////////////*/
      /*//////////////////////////////////////////////////////////*/
      /* COLOR PALLET */
      /*
      #14365C - DARKBLUE
      #F1FA39 - YELLOW
      #E31717 - RED
      #99998D - GRAY
      #0E2747 - DARKBLUE */
      
      /*//////////////////////////////////////////////////////////*/ -->

   <div class="search-box">
      <input type="text" placeholder="Type to search..">
      <div class="search-icon">
         <i class="fas fa-search"></i>
      </div>
      <div class="cancel-icon">
         <i class="fas fa-times"></i>
      </div>
      <div class="search-data">
      </div>
   </div>
   <script>
      const searchBox = document.querySelector(".search-box");
      const searchBtn = document.querySelector(".search-icon");
      const cancelBtn = document.querySelector(".cancel-icon");
      const searchInput = document.querySelector("input");
      const searchData = document.querySelector(".search-data");
      searchBtn.onclick = () => {
         searchBox.classList.add("active");
         searchBtn.classList.add("active");
         searchInput.classList.add("active");
         cancelBtn.classList.add("active");
         searchInput.focus();
         if (searchInput.value != "") {
            var values = searchInput.value;
            searchData.classList.remove("active");
            searchData.innerHTML = "You just typed " + "<span style='font-weight: 500;'>" + values + "</span>";
         } else {
            searchData.textContent = "";
         }
      }
      cancelBtn.onclick = () => {
         searchBox.classList.remove("active");
         searchBtn.classList.remove("active");
         searchInput.classList.remove("active");
         cancelBtn.classList.remove("active");
         searchData.classList.toggle("active");
         searchInput.value = "";
      }
   </script>

   <div class="menu-container">
      <a href="/mainpage"><button class="button-59">Recording</button></a>
      <a href="/table" id="recordList"><button class="button-59">Lists of Recording</button></a>
   </div>
   <div class="container"
      style="background: #00a8cc33;text-align: center;margin-top: 140px;margin-left: auto;height: 475px;padding-right: 0px;padding-left: 0px;width: 73%;border-width: 0px;border-style: solid;margin-right: auto;border-radius: 10px;">

      <table id="logTable" class="logTable table-fixed">
         <thead class="thead">
            <tr class="thead-row">
               <th id="filename" class="filename">Filename</th>
               <th id="converted_text" class="converted_text">Converted Text</th>
            </tr>
         </thead>
         <tbody class="tbody" id="tbody">

         </tbody>
      </table>
   </div>



   <!-- JAVASCRIPT FUNCTION -->
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/table.js"></script>

</body>

</html>